__pycache__/About.cpython-311.pyc
__pycache__/AddSegments.cpython-311.pyc
__pycache__/AddTorus.cpython-311.pyc
__pycache__/AddVessel.cpython-311.pyc
__pycache__/ApplyColors.cpython-311.pyc
__pycache__/BowlConstructionLines.cpython-311.pyc
__pycache__/BowlFromABoard.cpython-311.pyc
__pycache__/CatenaryCurve.cpython-311.pyc
__pycache__/OffcenterTurning.cpython-311.pyc
__pycache__/RotateRings.cpython-311.pyc
__pycache__/SegmentSpreadsheet.cpython-311.pyc
__pycache__/TaskPanelTemplate.cpython-311.pyc
__pycache__/TopView.cpython-311.pyc
__pycache__/varsetOps.cpython-311.pyc
__pycache__/WedgeGenerator.cpython-311.pyc
__.vscode__/settings.json
__.vscode__/tasks.json
__pycache__
__.vscode__

